{% extends 'app/layout.html'%} {% block body%}
<h3>Patients:</h3>
<div class="table-responsive table-bordered">
    <table id="tablePatient" class="table table-sm table-sorted data-sortable" >
        <thead>
            <tr>
                {% for title in Patient_Titles %}
                <th class="text-center">{{title}}</th>
                {% endfor %}
                

            </tr>
        </thead>
        <tbody>
            {% for Patient in all_Patients %}
            <tr class="text-center">                
                <td>{{Patient.IndexPatient}}</td>
                <td>{{Patient.NomPatient}}</td>
                <td>{{Patient.SexePatient}}</td>
                <td>{{Patient.NumTelephone}}</td>
                <td>{{Patient.AdressePatient}}</td>                
                
                
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<hr>
<h3>Dossiers:</h3>
<div class=" table-responsive table-bordered">
    <table class="table table-sm" id="tableDossier">
        <thead class="thead-dark">
            <tr>
                {% for title in Dossier_Titles %}
                <th class="text-center">{{title}}</th>
                {% endfor %}
               

            </tr>
        </thead>
        <tbody>
            {% for Dossier in all_Dossiers %}
            <tr class="text-center">
               
                <td>{{Dossier.NumeroDossier}}</td>
                <td>{{Dossier.AnneeDossier}}</td>
                <td>{{Dossier.IndexPatient}}</td>
                <td>{{Dossier.Service}}</td>
                
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
{% block scripts %}
{% load static %}
<script src="{% static 'js/jquery.tablesort.js'%}">

</script>
<script>
$(function(){
  $("table").tablesort();
});

</script>


{% endblock %}